ul.nav.navbar-nav
  li(ng-class="getClass('/main')")
    a(ng-href='#/main') Identify Planets
  li(ng-class="getClass('/ballpit')")
    a(ng-href='#/ballpit') The Ballpit
  li(ng-class="getClass('/codes')")
    a(ng-href='#/codes') Make Your Own
