div(ng-app='ng-app')
  h2 Planet
  p Name: {{planets.planets[index].pl_hostname}}
  p Discovery Year: {{planets.planets[index].pl_disc}}
  p Discovery Method: {{planets.planets[index].pl_discmethod}}
  p Orbital Period: {{planets.planets[index].pl_orbper}} Earth Days
  p Star Distance: {{planets.planets[index].st_dist}} Parsecs
  p Planets around Star: {{planets.planets[index].pl_pnum}}


